.style1 {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}

.style {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}
.body{
  height: 100vh;
  background-color: lightsteelblue;
}
.style2{
  border-radius: 5px;
}

.style3{
  color: blue;
  font-size: 17px;
}
.style4{
  color: #e65100;
}
.style5{
  width: 100px;
}
.style6{
  color: orange;
}
.style7{
  color: red;
}
.style8{
  text-decoration: line-through;
  color: red;
}
.style9{
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing:100px;
}
.style10{
  margin-top: 9%;
  background-color: antiquewhite;
  border-radius: 5px;
}
.style11{
  margin-top: 9%;
}
.style12{
  cursor: pointer;
}
.style13{
  border: 2px solid blue;
  border-radius: 5px;
  transform: perspective(100px) translateX(-20px);
  cursor: pointer;
}
.style14{
  cursor: pointer;
  border: 2px solid blue;
  transform: perspective(100px) translateX(20px);
  border-radius: 5px;
}