.style1 {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}

.style {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}
.body{
  height: 100vh;
  background-color: lightsteelblue;
}
